<div class="pt">
  <div>
    <h1>News Search</h1>
    <input [(ngModel)]="query" placeholder="Enter keywords" />
    <button (click)="searchNews()">Search</button>
  </div>
  
  <div *ngIf="newsData.length > 0">
    <h2>Search Results</h2>
    <ul>
      <li *ngFor="let article of newsData">
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p>
        <a [href]="article.url" target="_blank">Read More</a>
      </li>
    </ul>
  </div>
  <app-verything></app-verything>
</div>